body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabuleiro {
    width: 500px;
    height: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
    padding: 1px;
}

.primeira-cor-padrao {
    background-color: black;
}

.segunda-cor-padrao {
    background-color: white;
}
