:root {
    --tamanho-do-tabuleiro: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabuleiro {
    width: calc(var(--tamanho-do-tabuleiro) * 1px);
    height: calc(var(--tamanho-do-tabuleiro) * 1px);
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
    padding: 1px;
}

.bg-primeira-cor {
    background-color: black;
}

.bg-segunda-cor {
    background-color: white;
}

.text {
    margin: 0;
    padding: 0;
    height: 100%;
    color: red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
