body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabuleiro {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
    padding: 1px;
}

.bg-primeira {
    background-color: black;
}

.bg-segunda {
    background-color: white;
}

.text {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-primeira {
    color: red;
}

.color-segunda {
    color: blue;
}

.casa-ativa {
    background: radial-gradient(rgb(129, 166, 212), rgb(14, 37, 242));
}
